{% extends "../layouts/master.html" %}

{% block title %} Detail page {% endblock %}

{% block body_class %} detail_page {% endblock %}

{% block main_content %}
    <div class="container" id="main-content">          
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <i class="fa fa-picture-o"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Title of section 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <a href="#0" class="cd-read-more btn btn-primary">Read more</a>
                    <span class="cd-date">Jan 14</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <i class="fa fa-video-camera"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Title of section 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                    <a href="#0" class="cd-read-more btn btn-primary">Read more</a>
                    <span class="cd-date">Jan 18</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <i class="fa fa-picture-o"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Title of section 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                    <a href="#0" class="cd-read-more btn btn-primary">Read more</a>
                    <span class="cd-date">Jan 24</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <i class="fa fa-map-marker"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Title of section 4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <a href="#0" class="cd-read-more btn btn-primary">Read more</a>
                    <span class="cd-date">Feb 14</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <i class="fa fa-map-marker"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Title of section 5</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    <a href="#0" class="cd-read-more btn btn-primary">Read more</a>
                    <span class="cd-date">Feb 18</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <i class="fa fa-video-camera"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Final Section</h3>
                    <p>This is the content of the last section</p>
                    <span class="cd-date">Feb 26</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
    </div>
{% endblock %}                
        