{% extends "../layouts/master.html" %}
{% block title %} Home page {% endblock %}
{% block body_class %} home_page {% endblock %}
{% block main_content %}
<div class="container" id="main-content">
    <div class="row">
        <div id="main-section" class="col-md-9">
            <div class="widget widget-list-items">
                <div class="row">
                    {% for x in Array(24)%}
                    <div class="col-md-4">
                        <div class="list-item">
                            <a href="#" class="list-item-thumbnail">
                                <img src="assets/images/400x300.png" alt=""/>
                                <i class="fa fa-play icon-play">
                                </i>
                            </a>
                            <h3 class="list-item-title">
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </a>
                            </h3>
                        </div>
                    </div>
                    <!-- col -->
                    {% endfor %}
                </div>
                <!-- list-items -->
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-default btn-lg" id="load-more">
                    Tải thêm
                </a>
            </div>
        </div>
        <div id="sidebar" class="col-md-3">
            <div class="widget widget-user">
                <div class="widget-content">
                    <p>
                        Hãy đăng nhập để có thể sử dụng các chức năng rèn luyện giúp bạn tăng kĩ năng ngoại ngữ của mình.
                    </p>
                    <a class="btn btn-primary" href="http://localhost:8000/login">
                        Đăng nhập
                    </a>
                </div>
            </div>
            <!-- widget user -->
            <div class="widget widget-user">
                <div class="widget-content">
                    <div class="info-user media">
                        <div class="media-left user-avatar">
                            <a href="#">
                                <img src="http://www.gravatar.com/avatar/7835df828cd1bd38e57c6a2ccdc58a30?s=80" alt="" class="img-circle"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <ul class="list-unstyled">
                                <li class="user-name">
                                    duc
                                </li>
                                <li class="user-score">
                                    Cấp bậc: Sinh viên
                                </li>
                                <li>
                                    <a href="http://localhost:8000/dashboard/user/1">
                                        Tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:8000/logout">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget user -->
            <div class="widget widget-history-post">
                <h3 class="widget-title">
                    Các bài đã xem
                </h3>
                <div class="widget-content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://localhost:8000/post/72">
                                Officiis ut modi at distinctio ex veniam qui quidem. Sed fugit blanditiis illum veniam nemo ea.
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/post/71">
                                Beatae ut quis molestias et. Quae aspernatur numquam commodi. Natus deleniti in assumenda culpa.
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/post/69">
                                Adipisci eum cumque corrupti accusamus. Et sapiente et distinctio.
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/post/67">
                                Rerum magnam dolor et. Consequatur sint dicta dolorem velit.
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/post/42">
                                Dolores dolore animi magnam ea. Accusamus ut minus neque soluta ab nihil. Quia error dolorum quos.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="widget widget-order-person">
                <h3 class="widget-title">
                    Bảng xếp hạng
                </h3>
                <div class="widget-content">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="http://www.gravatar.com/avatar/c17bdd32ea30f94752eb4ea2862e84dd?s=48" alt="" class="img-circle"/>
                                </td>
                                <td>
                                    Odio in autem modi recusandae aliquid.
                                </td>
                                <td>
                                    985
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.gravatar.com/avatar/54cc287480ccb7351084e20ac4b67425?s=48" alt="" class="img-circle"/>
                                </td>
                                <td>
                                    Reprehenderit dolores error at unde id.
                                </td>
                                <td>
                                    960
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.gravatar.com/avatar/99ef4afa9f082f335e3f25258f0bccd6?s=48" alt="" class="img-circle"/>
                                </td>
                                <td>
                                    Voluptatem sint aliquid recusandae officiis.
                                </td>
                                <td>
                                    931
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.gravatar.com/avatar/5dc0a6ec697585ba630863ac36da22b8?s=48" alt="" class="img-circle"/>
                                </td>
                                <td>
                                    Earum eveniet quia rerum distinctio vel tempora.
                                </td>
                                <td>
                                    850
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.gravatar.com/avatar/b6473c682efeff661faf65a65db7da5e?s=48" alt="" class="img-circle"/>
                                </td>
                                <td>
                                    Quaerat sequi voluptas mollitia ex.
                                </td>
                                <td>
                                    819
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- widget-order-person -->
            <div class="widget widget-page-facebook">
                <div class="widget-content">
                    <div id="fb-root" class=" fb_reset">
                        <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                            <div>
                                <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://staticxx.facebook.com/connect/xd_arbiter.php?version=42#channel=f13da39035eed9c&amp;origin=http%3A%2F%2Flocalhost%3A8000" style="border: none;">
                                </iframe>
                                <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=42#channel=f13da39035eed9c&amp;origin=http%3A%2F%2Flocalhost%3A8000" style="border: none;">
                                </iframe>
                            </div>
                        </div>
                        <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                            <div>
                            </div>
                        </div>
                    </div>
                    <script>
                        (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/lang4ucom-539106796261667/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=270&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flang4ucom-539106796261667%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline">
                        <span style="vertical-align: bottom; width: 270px; height: 187px;">
                            <iframe name="f108db86f0acccc" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="http://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df23fd0ebf36f3ec%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A8000%252Ff13da39035eed9c%26relation%3Dparent.parent&amp;container_width=270&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flang4ucom-539106796261667%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline" style="border: none; visibility: visible; width: 270px; height: 187px;" class="">
                            </iframe>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
