{% extends "../layouts/master.html" %}

{% block title %} Lesson page {% endblock %}

{% block body_class %} lesson_page {% endblock %}

{% block main_content %}
    <div class="container" id="main-content">
        <section class="row">
            <section class="col-md-8">
                <article class="post">
                    <div class="entry-header">
                        <h1 class="entry-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, saepe!</h1>                  
                        <div class="metadata">
                            <span class="metadata-author"><i class="fa fa-user"></i><a href="#"> Author</a></span>
                            <span class="metadata-view"><i class="fa fa-eye"></i> lượt xem</span>
                            <span class="metadata-time"><i class="fa fa-calendar"></i>10/10/2015</span>
                        </div>                       
                    </div>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor <strong>sit amet</strong>, consectetur <a href="#">adipisicing elit</a>. Vero quibusdam blanditiis assumenda praesentium ex officiis natus itaque id quaerat suscipit deserunt, voluptatum, molestias ut voluptatem autem dolorum, laudantium possimus doloremque, molestiae qui. Expedita quia harum deleniti necessitatibus minus eligendi sed!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quibusdam blanditiis assumenda praesentium ex officiis natus itaque id quaerat suscipit deserunt, voluptatum, molestias ut voluptatem autem dolorum, laudantium possimus doloremque, molestiae qui. Expedita quia harum deleniti necessitatibus minus eligendi sed!</p>
                        <h1>h1.Lorem ipsum dolor sit amet, consectetur.</h1>
                        <h2>h2. Lorem ipsum dolor sit amet.</h2>
                        <h3>h3. Lorem ipsum dolor sit amet, consectetur.</h3>
                        <h4>h4. Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                        <h5>h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                        <h6>h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus!</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quibusdam blanditiis assumenda praesentium ex officiis natus itaque id quaerat suscipit deserunt, voluptatum, molestias ut voluptatem autem dolorum, laudantium possimus doloremque, molestiae qui. Expedita quia harum deleniti necessitatibus minus eligendi sed!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quibusdam blanditiis assumenda praesentium ex officiis natus itaque id quaerat suscipit deserunt, voluptatum, molestias ut voluptatem autem dolorum, laudantium possimus doloremque, molestiae qui. Expedita quia harum deleniti necessitatibus minus eligendi sed!</p>
                        <img src="resources/images/800x600.png" alt="">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.
                                <ol>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ol>       
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.
                                <ul>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </li>
                        </ul>
                        <img src="resources/images/400x300.png" alt="">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.
                                <ol>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ol>       
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, praesentium.
                                <ul>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </li>
                        </ol>
                        <!-- Standard button -->
                        <button type="button" class="btn btn-default">Default</button>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-primary">Primary</button>

                        <!-- Indicates a successful or positive action -->
                        <button type="button" class="btn btn-success">Success</button>

                        <!-- Contextual button for informational alert messages -->
                        <button type="button" class="btn btn-info">Info</button>

                        <!-- Indicates caution should be taken with this action -->
                        <button type="button" class="btn btn-warning">Warning</button>

                        <!-- Indicates a dangerous or potentially negative action -->
                        <button type="button" class="btn btn-danger">Danger</button>
                        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                        <button type="button" class="btn btn-link">Link</button>
                        <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam harum perspiciatis obcaecati, eum aliquam ad voluptatibus, sint repellendus recusandae!
                        </blockquote>
                    </div>
                </article>
                <section class="wrap-item">                        
                    <div class="panel-group" id="accordion"  aria-multiselectable="true">
                       
                        <div class="panel panel-default list-quiz">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Practice
                                </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in"  aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <form action="/">
                                        <div class="panel-group" id="sub-accordion"  aria-multiselectable="true">
                                            <div class="panel panel-default list-quiz-item">
                                                <div class="panel-heading"  id="sub-accordion-headingOne">
                                                    <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#sub-accordion" href="#sub-accordion-collapseOne" aria-expanded="true" aria-controls="sub-accordion-collapseOne">
                                                    Cau 1
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="sub-accordion-collapseOne" class="panel-collapse collapse in"  aria-labelledby="sub-accordion-headingOne">
                                                    <div class="panel-body">
                                                        <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                        <ul class="list-unstyled">
                                                            <li><label><input type="radio" name="q1" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q1" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q1" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q1" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default list-quiz-item">
                                                <div class="panel-heading"  id="sub-accordion-headingTwo">
                                                    <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#sub-accordion" href="#sub-accordion-collapseTwo" aria-expanded="false" aria-controls="sub-accordion-collapseTwo">
                                                    Cau 2
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="sub-accordion-collapseTwo" class="panel-collapse collapse"  aria-labelledby="sub-accordion-headingTwo">
                                                    <div class="panel-body">
                                                        <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                        <ul class="list-unstyled">
                                                            <li><label><input type="radio" name="q2" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q2" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q2" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q2" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default list-quiz-item">
                                                <div class="panel-heading"  id="sub-accordion-headingThree">
                                                    <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#sub-accordion" href="#sub-accordion-collapseThree" aria-expanded="false" aria-controls="sub-accordion-collapseThree">
                                                    Cau 3
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="sub-accordion-collapseThree" class="panel-collapse collapse"  aria-labelledby="sub-accordion-headingThree">
                                                    <div class="panel-body">
                                                        <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                        <ul class="list-unstyled">
                                                            <li><label><input type="radio" name="q3" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q3" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q3" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                            <li><label><input type="radio" name="q3" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-submit">
                                            <button class="btn btn-primary" type="submit">Xong</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="col-md-4" id="sidebar">             
                <div class="widget best-view-widget">
                    <h2 class="widget-title">popular post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget suggest-widget">
                    <h2 class="widget-title">suggest post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget list-news">
                    <h2 class="widget-title">Experience</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
{% endblock %}
        