{% extends "../layouts/master.html" %}

{% block title %} Quiz page {% endblock %}

{% block body_class %} quiz_page {% endblock %}

{% block main_content %}
    <div class="container" id="main-content">
        <section class="row">
            <section class="col-md-8" id="main-section">
                <div class="wrap-list-quizes-option">
                    <h2 class="list-quizes-option-title">Chọn gói thư viện và số câu hỏi bạn muốn kiểm tra</h2>
                    <div class="list-quizes-option">
                        <form action="/">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Tu vung
                                        </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <ul class="list-unstyled list-item">
                                                <li><label><input type="checkbox" value="">all</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">khac</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Ngu phap
                                        </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <ul class="list-unstyled list-item">
                                                <li><label><input type="checkbox" value="">all</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                <li><label><input type="checkbox" value="">khac</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Bai da hoc
                                        </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                                        Tu vung
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled list-item">
                                                                <li><label><input type="checkbox" value="">all</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">khac</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo2">
                                                        <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                                        Ngu phap
                                                        </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled list-item">
                                                                <li><label><input type="checkbox" value="">All</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">Option 1</label></li>
                                                                <li><label><input type="checkbox" value="">khac</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
                                        So cau
                                        </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <ul class="list-unstyled list-item">
                                                <li><label><input type="checkbox" value="">10 cau</label></li>
                                                <li><label><input type="checkbox" value="">15 cau</label></li>
                                                <li><label><input type="checkbox" value="">20 cau</label></li>
                                                <li><label><input type="checkbox" value="">25 cau</label></li>
                                                <li><label><input type="checkbox" value="">30 cau</label></li>
                                                <li><label><input type="checkbox" value="">35 cau</label></li>
                                                <li><label><input type="checkbox" value="">40 cau</label></li>
                                                <li><label><input type="checkbox" value="">45 cau</label></li>
                                                <li><label><input type="checkbox" value="">50 cau</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- panel group -->
                            <div class="form-submit">
                                <button type="submit" class="btn btn-primary">Tao bai kiem tra</button>
                            </div>                                
                        </form>
                    </div>
                    <!-- list-quizes-option -->
                </div>
                <!-- list quizes option -->
               
            </section>
            <section class="col-md-4" id="sidebar">             
                <div class="widget best-view-widget">
                    <h2 class="widget-title">popular post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget suggest-widget">
                    <h2 class="widget-title">suggest post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget list-news">
                    <h2 class="widget-title">Experience</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
{% endblock %}
            
        