{% extends "../layouts/master.html" %}

{% block title %} Test page {% endblock %}

{% block body_class %} detail_page {% endblock %}

{% block main_content %}
    <div class="container" id="main-content">
        <section class="row">
            <section class="col-md-9">
            	<div class="list-option-more">
            		<a href="#" class="btn btn-primary">in bai kiem tra</a>
            		<a href="#" class="btn btn-primary">in ket qua</a>
            		<button class="btn btn-primary">kiem tra ket qua</button>
            	</div>
                <ul class="list-quizes-test list-unstyled result">
                	<li class="list-quizes-test-sub">
                		<h3 class="list-quiz-title">Cau 1: chon cau tra loi dung</h3>                    		
                    	<ul class="list-unstyled list-quiz-option-result">
	                        <li class="true"><label><input type="radio" name="q1" value="1">option 1</label></li>
	                        <li class="false"><label><input type="radio" name="q1" value="2">option 2</label></li>
	                        <li><label><input type="radio" name="q1" value="3">option 3</label></li>
	                        <li><label><input type="radio" name="q1" value="4">option 4</label></li>
                        </ul>                       
                    </li>
                    <li class="list-quizes-test-sub">
                		<h3 class="list-quiz-title">Cau 2: chon cau tra loi dung voi hinh</h3>
                		<div class="list-quiz-media">                    			
                			<img src="images/60x60.png" alt="">
                		</div>
                    	<ul class="list-unstyled list-quiz-option-result">
	                        <li><label><input type="radio" name="q1" value="1">option 1</label></li>
	                        <li><label><input type="radio" name="q1" value="2">option 2</label></li>
	                        <li><label><input type="radio" name="q1" value="3">option 3</label></li>
	                        <li><label><input type="radio" name="q1" value="4">option 4</label></li>
                        </ul>                       
                    </li>
                </ul>
                <!-- list quizes test -->
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="col-md-3">
                <div class="widget user-widget">
                    <div class="clearfix user">
                        <a href="#" class="user-avatar pull-left">
                        <img src="images/60x60.png" alt="">
                        <span class="edit bg-primary" href="#edit-user" data-toggle="modal">Sửa</span>
                        </a>
                        <span class="user-name">Lorem ipsum dolor sit amet.</span>
                        <span class="user-level">cap 3</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            so bai hoc qua
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            so bai trac nghiem da lam
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14%</span>
                            ti le ghi nho
                        </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget type-quiz-widget">
                    <h2 class="widget-title">goi trac nghiem</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">3000 tu thong dung</a></li>
                        <li class="list-group-item"><a href="#">1000 cau ngu phap</a></li>
                        <li class="list-group-item"><a href="#">option</a></li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget best-view-widget">
                    <h2 class="widget-title">best view post</h2>
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget suggest-widget">
                    <h2 class="widget-title">suggest post</h2>
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget random-widget">
                    <h2 class="widget-title">random post</h2>
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                        <li class="list-group-item clearfix">
                            <a href="#" class="list-group-item-thumbnail pull-left"><img src="images/60x60.png" alt=""></a>
                            <h3 class="list-group-item-title h5"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quam?</a></h3>
                        </li>
                    </ul>
                </div>
                <!-- widget -->
            </section>
        </section>
    </div>
{% endblock %}
        