{% extends "../layouts/master.html" %}

{% block title %} Detail page {% endblock %}

{% block body_class %} detail_page {% endblock %}

{% block main_content %}
    <div class="container" id="main-content">
        <section class="row">
            <section class="col-md-8" id="main-section">
                <article class="post video-post">
                    <div class="media-item">
                        <div class="youtube_content embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/k23lzsiO22Q?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- media item -->
                    <div class="entry-header">
                        <h1 class="entry-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, saepe!</h1>                  
                        <div class="metadata">
                            <span class="metadata-author"><i class="fa fa-user"></i><a href="#"> Author</a></span>
                            <span class="metadata-view"><i class="fa fa-eye"></i> lượt xem</span>
                            <span class="metadata-time"><i class="fa fa-calendar"></i>10/10/2015</span>
                        </div>                       
                    </div>
                    
                    
                </article>
                <section class="wrap-item">                        
                    <div class="panel-group" id="accordion"  aria-multiselectable="true">
                        <div class="panel panel-default sub-item">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Sub
                                </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in"  aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion2"  aria-multiselectable="true">
		                                <div class="panel panel-default">
		                                    <div class="panel-heading"  id="headingOne">
		                                        <h4 class="panel-title">
		                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne" >
		                                        En Sub
		                                        </a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseOne2" class="panel-collapse collapse in"  aria-labelledby="headingOne">
		                                        <div class="panel-body">
		                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt quidem excepturi aperiam repudiandae non, quaerat earum. Quidem eligendi molestias, dolores. Praesentium, perferendis iure repellat, nemo ducimus fuga, molestias vel, illo quam veniam minus ea culpa veritatis. Totam quaerat ducimus, eos rerum reiciendis. Optio ad ullam, alias fugiat, commodi eum!
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestias, voluptatem deserunt hic et inventore. Magnam officia temporibus, cum quasi ea eius ut pariatur cumque! Quas obcaecati nemo totam praesentium blanditiis facere sint laboriosam a eos mollitia laborum quos ipsam vitae doloremque quo odit autem, cum porro tempora placeat minima quaerat? Numquam omnis, odit nobis vero nemo reiciendis eaque amet ratione nulla, placeat autem ab quas ipsam, aliquam necessitatibus! Soluta facere quo quae, sunt sint sed assumenda officia quos illo aliquid. Deserunt beatae eveniet accusamus quae officia sequi esse ipsa distinctio, exercitationem, expedita libero dolore reiciendis dolorum sed alias cumque nobis blanditiis voluptatum? Labore dignissimos accusantium, natus cumque dolorum ea ipsum alias quod quia. A dolores perferendis voluptatibus, dicta aspernatur, aperiam delectus vitae ipsam quibusdam. Qui, praesentium, voluptates omnis ex quidem enim assumenda facilis odit. Enim quae amet consequuntur corporis facere voluptatum facilis deserunt, cum voluptas! Aspernatur ab minima sunt dignissimos dolor iste saepe architecto delectus cupiditate officiis repellat tenetur adipisci est quibusdam accusantium numquam veniam totam, asperiores fugiat recusandae nulla dolorum, blanditiis labore. Possimus ducimus unde, necessitatibus libero eius enim, excepturi dolores modi qui doloremque numquam accusamus, neque iusto itaque? Sapiente ratione, facilis animi ipsa! Reprehenderit accusamus, officiis sint!
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="panel panel-default">
		                                    <div class="panel-heading"  id="headingTwo">
		                                        <h4 class="panel-title">
		                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
		                                        Vn Sub
		                                        </a>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseOne3" class="panel-collapse collapse"  aria-labelledby="headingTwo">
		                                        <div class="panel-body">
		                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt quidem excepturi aperiam repudiandae non, quaerat earum. Quidem eligendi molestias, dolores. Praesentium, perferendis iure repellat, nemo ducimus fuga, molestias vel, illo quam veniam minus ea culpa veritatis. Totam quaerat ducimus, eos rerum reiciendis. Optio ad ullam, alias fugiat, commodi eum!
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsa earum quasi recusandae suscipit hic delectus pariatur quaerat itaque repellat commodi, aspernatur qui ut eaque quia dignissimos impedit nulla quis rem omnis ipsum aperiam, expedita architecto est. Placeat esse blanditiis error animi aliquid quam similique eveniet pariatur. Reprehenderit quisquam, odit quidem! Sequi beatae, praesentium, laudantium aspernatur repellendus nobis! Error ad quibusdam, eaque voluptates sapiente ducimus quaerat praesentium temporibus eligendi quisquam inventore consequatur deleniti dolor expedita! Laborum nam excepturi aliquam blanditiis consectetur facilis itaque modi, suscipit eum reiciendis reprehenderit recusandae beatae cupiditate dolorum nesciunt maiores quis qui voluptate voluptas repudiandae. Eius veritatis hic itaque porro accusantium odio, distinctio libero, ex, quaerat, animi quo! Harum officia illo magnam natus laudantium debitis impedit odio eaque sunt, itaque eum tenetur architecto sequi sed dolor quia expedita corporis. Ratione laboriosam laudantium, a architecto fuga ducimus minus molestias beatae perferendis, itaque commodi veniam ipsam corporis quisquam accusantium esse. Qui ab facere vero culpa, cumque laudantium dignissimos et quisquam tempore laborum reprehenderit labore veniam quo eos cupiditate! Odit eveniet dolore sint pariatur ullam dignissimos excepturi incidunt consequuntur laborum suscipit inventore consectetur eos alias corporis quae omnis est nesciunt numquam nobis, voluptatibus, voluptatem quidem repellendus saepe. Quod, dolore.
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default list-quiz">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Practice
                                </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse"  aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <form action="/">
		                                <div class="panel-group wrap-carousel carousel_loading" >
                                            <div class="owl-carousel quiz-carousel">
                                                <div class="item">
                                                    <div class="panel panel-default list-quiz-item">
                                                        <div class="panel-heading"  >
                                                            <h4 class="panel-title">
                                                           
                                                            Cau 1
                                                            
                                                            </h4>
                                                        </div>
                                                        <div  class="panel-collapse collapse in"  >
                                                            <div class="panel-body">
                                                                <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                                <ul class="list-unstyled">
                                                                    <li><label><input type="radio" name="q1" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q1" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q1" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q1" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- item -->
                                                <div class="item">
                                                    <div class="panel panel-default list-quiz-item">
                                                        <div class="panel-heading"  >
                                                            <h4 class="panel-title">
                                                            
                                                            Cau 2
                                                          
                                                            </h4>
                                                        </div>
                                                        <div  class="panel-collapse collapse in">
                                                            <div class="panel-body">
                                                                <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                                <ul class="list-unstyled">
                                                                    <li><label><input type="radio" name="q2" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q2" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q2" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q2" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- item -->
                                                <div class="item">
                                                    <div class="panel panel-default list-quiz-item">
                                                        <div class="panel-heading"  id="sub-accordion-headingThree">
                                                            <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#sub-accordion" href="#sub-accordion-collapseThree" aria-expanded="false" aria-controls="sub-accordion-collapseThree">
                                                            Cau 3
                                                            </a>
                                                            </h4>
                                                        </div>
                                                        <div id="sub-accordion-collapseThree" class="panel-collapse collapse"  aria-labelledby="sub-accordion-headingThree">
                                                            <div class="panel-body">
                                                                <h3 class="list-quiz-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tenetur.</h3>
                                                                <ul class="list-unstyled">
                                                                    <li><label><input type="radio" name="q3" value="1"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q3" value="2"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q3" value="3"> Lorem ipsum dolor sit amet.</label></li>
                                                                    <li><label><input type="radio" name="q3" value="4"> Lorem ipsum dolor sit amet.</label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- item -->
                                            </div>
                                            
                                            
                                            
                                        </div>
                                        <div class="carousel-controls clearfix">
                                            <div class="pull-left">
                                                <a href="#" class="btn prev-carousel">&laquo; Cau truoc</a>

                                            </div>
                                            <div class="pull-right">
                                                <a href="#" class="btn next-carousel">Cau tiep &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="form-submit">
                                            <button class="btn btn-primary" type="submit">Xong</button>
                                        </div>
		                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="col-md-4" id="sidebar">             
                <div class="widget best-view-widget">
                    <h2 class="widget-title">recent post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget suggest-widget">
                    <h2 class="widget-title">suggest post</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
                <!-- widget -->
                <div class="widget list-news">
                    <h2 class="widget-title">Experience</h2>
                    <ul class="list-group list-group-sm">
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                      <li class="list-group-item clearfix">
                        <a href="#" class="list-group-item-thumbnail pull-left"><img src="resources/images/120x68.png" alt=""></a>
                        <h3 class="list-group-item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                      </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
{% endblock %}