/*.login-box-body .checkbox >label {
	padding-left: 16px;
}
.login-box-body .checkbox input[type=checkbox] {
	margin-left: -16px;
}*/
/*
body {
	line-height: 24px;
}*/

/*
* Common css
* 
 */

.dis-in {
    display: inline-block;
}
.mg-t-4 {
    margin-top: 4px;
}

.mg-t-8 {
    margin-top: 4px;
}

.mg-t-12 {
    margin-top: 4px;
}

.mg-bt-4 {
    margin-bottom: 4px;
}

.mg-bt-8 {
    margin-bottom: 8px;
}

.mg-bt-12 {
    margin-bottom: 12px;
}


/*
* End Common css
* 
 */

.post-controls {
    padding: 5px;
}
.post-controls .pagination {
	margin: 0;
	float: left;
}

.post-controls .posts-count {
	margin-right: 16px;
	margin-top: 6px;
}


.content-list .list-wrapper>li:hover {
    background: #F5F5F5;
}
.content-list .list-wrapper>li:last-child {
    border-bottom: none;
}
.content-list .list-wrapper>li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border-bottom: 1px solid #EEE;
    position: relative;
    text-align: left;
}
.content-menu .list-wrapper li {
    border-bottom: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.content-list .menu-icon {
    display: block;
    float: left;
    width: 16px;
    text-align: center;
    font-size: 14px;
}
.content-list .menu-text {
    display: block;
    margin-left: 26px;
    text-transform: none;
    padding-right: 15px;
}
.content-list .menu-info {
    font-size: 12px;
    font-style: italic;
    color: #939ba2;
    text-transform: capitalize;
    display: block;
}

.closing {
    font-size: 12px;
    background: #F5F5F5 !important;
    position: relative;
}
.closing a {
    color: #999 !important;
    display: block;
    padding: 3px 10px 5px;
}
#box-profile .box-body {
    position: relative;
}
#box-profile .edit {
    position: absolute;
    right: 10px;
    top: 10px;
}

.thumb-image {
    max-width: 100%;
    height: auto;
}
.image-holder {
    margin-top: 15px;
}
.image-holder img {
    width: 100%;
    height: auto;
}
.form-submit {
    overflow: hidden;
    border-top: 1px solid #d2d6de;
    padding-top: 15px;
}
.form-submit .btn {
    float: right;
    margin-left: 15px;
}
.logo {
    text-align: center;
}
.logo-lg img{
    width: auto;
    height: 50px;
    vertical-align: top;
}
.box-list-item .table {
    margin-bottom: 0;
}

/*
* form control disable
 */
.form-control[disabled="disabled"] {
  background: #F5F5F5 !important;
  cursor: not-allowed; }

.btn.btn-sm.checkbox-toggle {
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.list_quizzes {
    padding: 5px;
}
.list_quizzes .small-box {
    margin-bottom: 0;
    
}
.list_quizzes .small-box.box-solid {
    color: #333 !important;
}
.main-header {
    max-height: 125px;
}

.form-group .wrap-thumb {
    margin-top: 10px;
}

.user-avatar {
    position: relative;
}
.user-avatar .edit {
    position: absolute;
    right: 0;
    top: 0;
}

.page_list .loading{
    position: relative;
    min-height: 250px;
    transition: all .3s;
}
.page_list .loading:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 1;
    top: 0;
    left: 0;
}
.page_list .loading:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    content: "\f110";
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $blue-primary-text;
    font-size: 40px;
    background: #fff;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
}
    