<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>{% block title %} page title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/modernizr.js"></script>
</head>
<body class="{% block body_class %} body_class {% endblock %}">
{% include "../partials/header.html" %}

{% block main_content %}
{% endblock %}

{% include "../partials/footer.html" %}
<script src="assets/js/libs.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>




