	<footer id="page-footer">
		<div class="container">
			<div class="copyright">
				<p>copyright 2015</p>	
			</div>
			<ul id="third-menu">
				<li><a href="#">Contact</a></li>
				<li><a href="#">Faqs</a></li>
				<li><a href="#">Docs</a></li>
			</ul>
		</div>
	</footer>
	<a href="#" id="back-to-top" class="fa fa-arrow-up"></a>