
	<header id="page-header">		
		<div class="page-header-middle">
			<div class="container">
				<a id="logo-top" href="#">
					<img src="assets/images/logo.png" alt="">
				</a>
			</div>
		</div>
		<!-- header middel -->			
		<div class="page-header-bottom">
			<div class="container">				
				<ul id="primary-menu">
					<li class="active"><a href="http://localhost:8000">Trang chủ</a></li>
					<li><a href="http://localhost:8000/post/vocabulary">Từ vựng</a></li>
					<li><a href="http://localhost:8000/post/grammar">Ngữ pháp</a></li>
				</ul>		
				<div class="search-box pull-right">
					<form>
						<input class="form-control" placeholder="Enter your search term..." type="search" value="" name="search" id="search">
						
						<button class="btn btn-default fa fa-search"></button>
					</form>
				</div>
			</div>
		</div>
		<!-- header bottom -->		
	</header>

	