$blue-dark-primary-color:#0288D1;
$blue-primary-color:#03A9F4;
$blue-light-primary-color:#B3E5FC;
$blue-text-icons:#FFFFFF;
$blue-accent-color:#448AFF;
$blue-primary-text:#212121;
$blue-second-text:#727272;
$blue-divider-color:#B6B6B6;


$grey-dark-primary-color:#616161;
$grey-primary-color:#9E9E9E;
$grey-light-primary-color:#F5F5F5;
$grey-text-icons:#212121;
$grey-accent-color:#9E9E9E;
$grey-primary-text:#212121;
$grey-second-text:#727272;
$grey-divider-color:#B6B6B6;

$border-color:#ddd;

$red-dark-primary-color: #D32F2F;
$red-primary-color: #F44336;

$green-primary-color: #4CAF50;