@import 'variable';
$brand-primary:$blue-accent-color !default;
@import '../../libs/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap';
/*@import '../../libs/superfish-master/src/css/superfish';*/
/*@import '../../libs/vertical-timeline/scss/style';*/
/*@import '../../libs/OwlCarousel-master/owl-carousel/owl.carousel';*/
@import '../../libs/font-awesome-4.5.0/scss/font-awesome';
@import '../../libs/jquery-ui-1.11.4.custom/jquery-ui.min';
@import '../../libs/malihu-custom-scrollbar-plugin-master/mCustomScrollbar';

@import 'components/loading';

$roboto: 'Roboto Condensed', sans-serif;
body {
	background: #fafafa;
	line-height: 24px;
	font-family: $roboto;
	position: relative;
	@media (min-width: 1024px) {
		background: $blue-primary-text;
	}
}
.container {
	width: 1200px;	
}
@media only screen and (max-width: 1024px) {
	.container	{
		width:100%;	
	}
}
a,a:focus,a:active,a:hover {
	text-decoration: none;
}
/*
* header
 */
#page-header {
	position: relative;
	z-index: 2;
	margin-bottom: 30px;	
	.page-header-middle {
		padding: 15px 0;
	}
	.page-header-bottom {
		background: $blue-accent-color;
		position: relative;
		.container {
			padding-top: 2px;
			padding-bottom: 2px;
		}
		.widget-practive {
			.practive {
				font-size: 24px;
				height: 34px;
				width: 34px;
				line-height: 34px;
				text-align: center;
				color: #fafafa;
				cursor: pointer;
			}
		}
		.page-title {
		    color: #fff;
		    font-size: 24px;
		    width: 150px;
		    position: absolute;
		    left: 50%;
		    top: 5px;
		    margin-left: -75px;
		    margin: 2px 0 0 -75px;
		    text-align: center;
		    @media (min-width: 1024px) {
		    	display: none;
		    }
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
	#page-header	{
		margin-bottom: 15px;
		.page-header-middle {
			display: none;
		}
	}
	.detail_page {
		#page-header	{
			margin-bottom: 0;
		}
	}
}
/* primary menu */
#primary-menu {
	margin-bottom: 0;
	font-size: 16px;
	@extend .list-unstyled;
	a {
		color: $blue-text-icons;
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	li {
		float: left;		
		&.active {
			a {
				position: relative;				
				&:before {
					content:'';
					height: 2px;
					width: 100%;
					background: #fafafa;
					position: absolute;
					left: 0;
					bottom: -2px;
				}
				&:hover {
					color: $blue-text-icons;
				}
			}
		}
	}
	a {
		display: block;
		padding: 6px 12px;
		line-height: 24px;
	}
}
.icon-slide {
	color: #fafafa;
	font-size: 24px;
	display: block;
	height: 34px;
	width: 34px;
	line-height: 36px;
	cursor: pointer;
	&:focus {
		opacity: .8;
	}
}
/* second menu */
#third-menu {
	margin-bottom: 0;
	float: right;
	@extend .list-unstyled;
	li {
		float: left;
		border-left:1px solid #ddd;
		&:first-child {
			border-left:none;
		}
	}
	a {
		padding: .75em 1em;
		text-decoration: none;
		display: block;
		color: $blue-second-text;
		&:hover {
			color:$blue-accent-color;
		}
	}
}
#third-menu {
	a {
		padding-top: 0;
		padding-bottom: 0;
	}
}

/* End header*/
.wrap-item .media-item {
	margin-bottom: 20px;
	padding: 15px;
	background: #fafafa;
	border-radius: 6px;
	margin-bottom: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 1023px) {
	.wrap-item .media-item {
		padding: 0;
		border-radius: 0;
		margin: 0 -15px 0;
	}
}

/*
* widget
 */
.widget {
	margin-bottom: 20px;
	.list-group {
		background: #fafafa;
		&:last-child {
			margin-bottom: 0;		
		}
	}
}
#sidebar {
	.widget {
		.widget-title {
			@extend .h3;
			margin-top: 0;
			color: #fafafa;
		}
	}
	.widget-content {
		background: #fafafa;
		padding: 15px;
		border-radius: 6px;
		overflow: hidden;
		.list-group-item {
			background: #fafafa;
			.badge {
				margin-top: 3px;
			}
		}
	}

	.widget-order-person {		
		.widget-content {
			padding: 0;	
		}
		.table {
			margin-bottom: 0;
		}	
	}
	.widget-page-facebook {
		.widget-content {
			padding: 0;
		}
	}
	.widget-user {
		.info-user.media {
			.media-body {
				ul {
					margin-bottom: 0;
				}
				a {
					color: $blue-primary-text;
					&:hover {
						color: $blue-accent-color;
					}
				}
			}
		}
	}
	.widget-history-post,
	.widget-related-post {
		.widget-content {
			padding: 0;
		}
		.list-group {
			border-radius: 6px;
		}
		
		a {
			color: $blue-primary-text;
			&:hover {
				color: $blue-accent-color;
			}
			img {
				float: left;
				display: block;
				width: 80px;
				margin-right: 15px;
			}
			span {
				display: block;
				overflow: hidden;
				line-height: 22px;
				height: 45px;
			}
		}
	}
	.widget-list-cat {
		.widget-content {
			padding: 0;
			a {
				color: $blue-primary-text;
				&:hover {
					color: $blue-accent-color;
				}
			}
		}
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}
}
#main-content {
	.widget-title {
		font-size: 18px;
		color: $grey-primary-text;
		margin-top: 0;		
	}
	@media screen and (min-width: 1024px) {
		.widget-title {
			font-size: 24px;
			color:  #fafafa;
		}
	}
}
.widget-list-items,
.widget-feature-posts {
	.list-item {
		margin-bottom: 30px;
		background: #fafafa;
		border-radius: 6px;
		overflow: hidden;
		padding-bottom: 10px;
	}
	.list-item-thumbnail {
		display: block;
		position: relative;
		color: $blue-text-icons;
		margin-bottom: 13px;
		text-align: center;
		img {
			height: auto;
			width: auto;
			max-width: 100%;
			max-height: 100%;
		}
		.icon-play {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -20px;
			margin-left: -20px;
			display: block;
			width: 40px;
			height: 40px;
			line-height: 32px;
			text-align: center;
			border: 4px solid $grey-light-primary-color;
			border-radius: 50%;
			opacity: .8;
			filter: alpha(opacity=80);
			@include transition(.3s);
		}
		.item-lang {
			position: absolute;
			display: inline-block;
			background: rgba(0,0,0,.6);
			color: #fafafa;
			right: 0;
			top: 0;
			border-radius: 0 6px 0 6px;
			padding: 6px 12px;
		}
		&:hover {
			.icon-play {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
	}
	.list-item-title {
		@extend .h4;
		margin: 0;
		overflow: hidden;
		a {
			display: block;
			line-height: 24px;
			height: 48px;
			overflow: hidden;
			padding: 0 15px;
			color: $blue-primary-text;
			&:hover {
				color: $blue-accent-color;
			}
		}
	}
	.list-item-metadata {
		@extend .h6;
		margin: 5px 15px 0;
		padding-top: 5px;
		> span {
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color: $grey-primary-text;
		}
	}
	&.loading {
		position: relative;
		min-height: 200px;
		transition: all .3s;
		border-radius: 6px;
		&:before {
			@extend .fa;
			@extend .fa-spin;
			@extend .fa-spinner;
			z-index: 2;
			position: absolute;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: $blue-primary-text;
			font-size: 40px;
			background: #fff;
			top: 50%;
			margin-top: -25px;
			left: 50%;
			margin-left: -25px;
		}
		&:after {
			content: '';
			background: #fff;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			top: 0;
			left: 0;
		}
	}
}
.widget-list-items {
	.nothing {
		background: #fafafa;
		border-radius: 6px;
		min-height: 500px;
		padding: 15px;
	}
}

@media only screen and (min-width:320px) and (max-width: 1023px){
	.widget-list-items,
	.widget-feature-posts {
		.list-item {
			border-radius: 0;
			margin-bottom: 10px;
			padding-bottom: 0;
			overflow: hidden;
		}
		.widget-content {
			> .row {
				> div:last-child {
					.list-item {
						margin-bottom: 0;
					}					
				}
			}
		}
		.list-item-thumbnail {
			float: left;
			margin-right: 15px;
			height: auto;
			width: 33%;
			margin-bottom: 0;
			.item-lang {
				padding: 0 6px;
				border-radius: 0;
				font-size: 12px;
			}
		}
		.list-item-title {
			font-size: 14px;
			a {
				padding: 0;
				height: auto;
				line-height: 20px;
			}
		}
	}
	.widget-feature-posts {
		padding-bottom: 15px;
		border-bottom: 1px solid $border-color;
		margin-bottom: 15px;
	}
}

.list-group-sm {
	border-radius: 6px;	
	.list-group-item-title {
		@extend .h4;
	}
}

/*
* .list-group-item
 */
.list-group {
	padding: 0 15px;	
}
.list-group-item {
	border: none;
	border-top: 1px solid #ddd;
	padding: 15px 0;
	&:first-child {
		border-top:none;
	}
}

/*
* footer
 */

#page-footer {
	margin-top: 30px;
	background: #fafafa;
	color: $grey-text-icons;	
	border-top: 2px solid $blue-accent-color;
	.container {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.copyright {
	float: left;
	p {
		margin-bottom: 0;
	}
}

/*
* View more
 */
#load-more {
	padding-left: 150px;
	padding-right: 150px;	
	@extend .h4;
	margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 667px){
	#load-more {
		width:100%;
		padding-left: 0;
		padding-right: 0;	
	}
}
/*
* list-quiz
 */

.list-quiz {
	.list-quiz-item {
		ul {
			margin-bottom: 0;
		}
	}
	.list-quiz-item-title {
		margin-top: 0;
	}
}

/*
* Panel
 */
.panel-group .panel-group {
	margin-bottom: 0;
}
.panel {
	border: none;
	box-shadow: none;

}
.panel {
	.panel {
		border: 1px solid #ddd;		
	}
}
.list-quiz .panel{
	.panel-title {
		background: $blue-accent-color;
		border-top-right-radius:3px;
		border-top-left-radius:3px;
		color: #fafafa;
		padding: 10px 15px;
	}	
}
.panel-group .panel {
	overflow: hidden;
}
.panel-default > .panel-heading {
	background: none;
	.panel-title a {
		background: $blue-accent-color;
		border-top-right-radius:3px;
		border-top-left-radius:3px;
		color: #fafafa;
		&.collapsed {
			background: #fafafa;
			color: $grey-primary-text;
		}
	}
}
.panel-heading {
	padding: 0;
}
.panel-title a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

/*
* form
 */
.form-submit {
	margin: 15px 0;
}
/*
* Detail
 */
.entry-header {
	padding: 15px;
	background: #fafafa;
	border-radius: 6px;
	margin-bottom: 20px;
	.metadata {
		overflow: hidden;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #ddd;
		> span {
			float: left;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid #ddd;
			&:last-child {
				border-right:none;
			}
		}
		a {
			color: $blue-primary-text;
			&:hover {
				color:$blue-accent-color;
			}
		}
		i {
			margin-right: 5px;
		}
	}	
}
@media only screen and (min-width: 320px) and (max-width: 1023px) {
	.entry-header {
		margin-bottom: 0;
		padding: 10px 0;
		.metadata {
			.metadata-time,
			.metadata-view {
				display: none;
			}
		}
	}
}
.entry-title {
	@extend .h2;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2;
}
.entry-content {
	padding: 15px;
	background: #fafafa;
	border-radius: 6px;
	margin-bottom: 20px;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-bottom:15px;
	}
	p {
		&:last-child {
			margin-bottom:0;
		}
		img {
			margin-bottom: 0;
		}
	}
	blockquote {
		border-left-color: $blue-accent-color;
	}
	.list-quiz-item {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.list-quiz {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom:0;
		}
	}
	.list_quizzes {
		.list_quizzes-title {
			margin-top: 0;
		}
	}
	
}
.list-vocabulary {
	.bold {
		font-weight: 700;
	}
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
	.entry-content {
		margin-bottom: 15px;
		border-radius: 0;
	}
	.entry-title {
		font-size: 18px;
	}
}
/*
* Search box
 */
.search-box {
	width: 270px;
	position: relative;
	.form-control {
		box-shadow: none;
		border-radius: 0;
		height: 36px;
		border: none;
	}
	.btn-default {
		height: 36px;
		width: 36px;
		line-height: 36px;
		padding: 0;	
		border: none;	
		border-left: 1px solid #ddd;
		box-shadow: none;
		border-radius: 0;
		text-align: center;
		border-radius: 0;
		position: absolute;
		right: 0;
		top: 0;
		color: $grey-second-text;
		&:focus,
		&:hover,
		&:active {
			background:#fafafa;
			box-shadow: none;
			border: none;	
			outline: none;
			border-left: 1px solid #ddd;
			color: $grey-second-text;
		}
	}
}
/*
* back to top
 */
#back-to-top {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background: $blue-accent-color;
	color: #fafafa;
	font-size: 20px;
	position: fixed;
	right: 15px;
	bottom: 7px;
	opacity: 0;
	@include transition(.3s);
	&.active {
		opacity: 1;
	}
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
	#back-to-top {
		position: absolute;
		opacity: 1;
	}
}
.detail_page .sub-item .panel-body .panel-body{
	max-height: 300px;
	overflow: hidden;
}
@media (min-width: 320px) and (max-width: 1023px) {
	.detail_page .sub-item  {
		background: none;
		.panel-body {
			padding: 0;
			.panel-body {
				padding: 5px 0;
				border-bottom: 1px solid $border-color;
			}
		}
		>.panel-heading .panel-title a,
		.panel-default>.panel-heading .panel-title a {
			background: none;
			padding-left: 0;
			padding-right: 0;
			color: $blue-primary-text;
		}
		.panel-default>.panel-heading .panel-title a {
			font-size: 14px;
		}
		.panel {
			border: none;
			background: none;
		}
	}
}

.quiz-test {
	.modal-dialog {
	    width: 870px;
	}
	.result-true {
	    margin: 0;
	}
	.quiz-test-title {
	    margin-bottom: 10px;
	    margin-top: 0;
	    line-height: 1.42857;
	}
	.progress {
		background: $grey-divider-color;
		margin-bottom: 0;
	}
	.progress-bar {
	    margin-bottom: 0;
	}    
	.progress-bar-success {
		background-color: $green-primary-color;
	}
	.quiz-title {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.item {
		position: relative;
		.item-control {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 0;
			left: 0;
			display: block;
			text-align: center;
			.fa {
				font-size: 24px;
				color: $grey-divider-color;
				&.fa-dot-circle-o {
					color: $blue-accent-color;
				}
			}
		}
		input[type=radio] {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
		label {
			padding: 0;
			margin: 0;
			font-weight: normal;
			cursor: pointer;
		}
		.item-thumbnail {
			margin-bottom: 10px;
			height: 180px;
			border-radius: 6px;
			overflow: hidden;
			img {
				@extend .img-responsive;
			}
		}
		.answer-title {
			margin: 0;
			padding-left: 35px;
			position: relative;
			line-height: 24px;
		}
		.item-media {
			margin-bottom: 15px;
		}
		.item {
			padding: 4px;
			border: 1px solid transparent;
			border-radius: 6px;
			&:hover, &.checked {
				border-color: $blue-accent-color;
				.answer-title,.fa {
					color: $blue-accent-color;
				}
				.fa {
					@extend .fa-dot-circle-o;
				}
			}
		}
		&.item-input {
			.quiz-title {
				text-align: center;
			}
		}
		.item-content {
			border: 1px solid #ccc;
			border-radius: 4px;
			padding: 6px 12px;
			min-height: 150px;
			&.has-media {
				border: none;
				min-height: auto;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.form-control {
			min-height: 150px;
		}
	}
	.result-status {
		font-weight: 700;
		font-size: 16px;
		@extend .h3;
		margin-top: 0;
		&.true {
			color: $green-primary-color;
			display: block;
		}
		&.false {
			color: $red-dark-primary-color;
			display: block;
		}
	}
	.result-true-label {
		margin: 0;
	}
	@media screen and (min-width: 890px) {
		.quiz-test-footer {
			.col-md-9 {
				float: left;
			}
			.col-md-3 {
				float: right;
			}
		}
	}
	@media screen and (max-width: 890px) {
		.modal-dialog {
			width: 100%;
			height: 100%;
			margin: 0;
		}
		.modal-content {
			border-radius: 0;
			box-shadow: none;
			border: none;
			width: 100%;
			height: 100%;
			position: relative;
			overflow-y: scroll;
		}
		.close {
			position: absolute;
			top: 0;
			right: 0;
			background: $red-dark-primary-color;
			color: #fafafa;
			height: 24px;
			width: 24px;
			line-height: 24px;
			text-align: center;
			opacity: 1;
			font-size: 14px;			
		}
		.quiz-test-footer {
			.col-md-9 {
				margin-top: 15px;
				padding-top: 15px;
				border-top: 1px solid $border-color;
			}
		}
	}
}

.detail-group-vocabulary {
	.quiz-test {
		.quiz-test-header {
			padding-bottom: 15px;
			border-bottom: 1px solid $border-color;
			margin-bottom: 15px;
		}		
		.quiz-footer {
			margin-top: 15px;
			padding-top: 15px;
			border-top: 1px solid $border-color;
			.col-md-3 {
				text-align: right;
			}
		}
	}
}

#result-true-label {
    margin-top: 0;
}
.detail_page .list-vocabulary {
    background: #fafafa;
    border-radius: 6px;
}
.ui-autocomplete {
    max-height: 350px;
    width: 270px !important;
    overflow: hidden;   
    padding: 0;    
    .list-group-item {
	    padding: 6px 12px;
	}
	.ui-state-focus {
		background: $blue-accent-color;
		a {
			color: #fafafa;
		}
	}
	.mCSB_inside {
		>.mCSB_container {
			margin-right: 12px;
		}
	}
	.mCSB_scrollTools {
		width: 12px;
	}
}


#comment {
  padding: 0;
  background: #fafafa;
  border-radius: 6px;
  @media (min-width: 1024px) {
  	padding: 15px;
  }
}

/*
pages
 */
.detail_page {
	.list-vocabulary {
		.v-title {
			margin: 0;
			display: inline-block;
		}
		.v-header {
			margin-bottom: 10px;
		}
		.v-ipa {
			margin-left: 10px;
		}
	}
	.transcripts {
		margin-bottom: 20px;
		.panel-group {
			margin-bottom: 0;
		}
	}
}

.v-ipa {
	color: $red-primary-color;
}
.mCSB_scrollTools {
	.mCSB_draggerRail,
	.mCSB_dragger .mCSB_dragger_bar {
		width: 6px;
	}
}

.fb-like {
	margin-top: -2px;
}

/*
* Mobile
 */
.wrap-page {
	-webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
	transition: transform .4s ease,-webkit-transform .4s ease;
    z-index: 1;
    position: relative;
    background: #fafafa;
    &.m-slideout {
    	-webkit-transform: translate3d(80%,0,0);
    	transform: translate3d(80%,0,0);
    }
    @media (min-width: 1024px) {
    	background: $blue-primary-text;
    }
}
.mobile-sidebar {
	font-size: 16px;
	z-index: 0;
	position: fixed;
	display: none;
	width: 80%;
	height: 100%;
	min-width: 140px;
    left: 0;
    top: 0;
    background: #fafafa;
    border-right: 1px solid #ddd;
    padding: 15px;
    &.open {
    	display: block;
    }    
    .widget-user {
    	border-bottom: 1px solid #ddd;
    	padding-bottom: 20px;
		.info-user.media {
			.media-body {
				ul {
					margin-bottom: 0;
				}
				a {
					color: $blue-primary-text;
					&:hover {
						color: $blue-accent-color;
					}
				}
			}
		}
	}
    #mobile-primary-menu {
    	padding: 0;
    }
}
.m-open {
	body {
		overflow: hidden;
	}
	.mask {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0,0,0,.6);
		z-index: 1;
	}
}
#mobile-primary-menu {
	@extend .list-group;
	li {
		@extend .list-group-item;
		border-radius: 0;
		background: none;
		padding: 6px 12px;		
		&.active,
		&:focus {
			background: $blue-accent-color;
			> a {
				color: #fafafa;
			}
		}
		&:first-child,
		&:last-child {
			border-radius: 0;			
		}
	}
	a {
		color: $blue-primary-text;
	}
}

/*
* page search
 */
.widget-search-list-items {
	.widget-title {
		margin-top: 0;
	}
}
.widget-search-not-found {
	background: #fafafa;
	min-height: 500px;
	border-radius: 6px;
	padding: 15px;
	.search-box {
		border: 1px solid #ddd;
	}
}

.youtube_content {
	position: relative;
	.next-post {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		padding-top: 50px;
		text-align: center;
		.next-post-title {
			margin-top: 0;
			color: #fff;
			padding: 0 50px;
		}
		.close-next-post {
			height: 40px;
		    width: 40px;
		    position: absolute;
		    color: #fff;
		    top: 10px;
		    right: 10px;
		    line-height: 40px;
		    font-size: 20px;
		    cursor: pointer;
		}
		.next-post-now {
			height: 50px;
		    width: 50px;
		    position: absolute;
		    color: #fff;
		    line-height: 50px;
		    font-size: 40px;
		    cursor: pointer;
		    left: 50%;
			top: 50%;
			margin-left: -25px;
			margin-top: -25px;
			z-index: 9;
		}
		.windows8 {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -33px;
			margin-top: -33px;
			z-index: 1;
			.wBall .wInnerBall {
				background: #fff;				
			}
		}
	}
}
.box-subs {
	display: none;
	.sub {
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 32px;
		background: rgba(0,0,0,.9);
		color: #fafafa;
		text-align: center;
		font-size: 16px;
		padding: 0 10px;
	}
	.sub-en {
		top: 0;
	}
	.sub-vn {
		bottom: 0;
	}
	p {
		margin-bottom: 0;
	}
	@media (min-width: 768px) {
		display: block;
	}
}
@media only screen and (min-width:320px) and (max-width: 767px) {
	/*.box-subs {
		.sub-vn {
			width: 80%;
			left: 10%;
		}
	}*/
}

/* breadcrum */
.widget-breadcrumb {
	background: #fafafa;
	border-radius: 6px;
	padding: 5px 10px !important;
	a {
		color: $blue-primary-text;
		&:hover {
			color: $blue-accent-color;
		}
	}
	ul {
		margin-bottom: 0;
		font-size: 16px;
	}
	li {
		display: block;
		float: left;
		&:after {
			display: inline-block;
			font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
			font-size: inherit; 
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: $fa-var-angle-right;
			padding: 0 10px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	@media (min-width: 768px) {
		padding: 15px !important;		
	}
	@media (max-width: 767px) {
		display: none;
	}
}
.disabled {
	cursor: not-allowed;
}
/*sticky menu*/
.menu-sticky {
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
}